# Impede que o Apache mostre listas como "Index of /Backend".

# Impede a listagem dos arquivos de uma pasta

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

# Bloqueia arquivos e diretórios ocultos, incluindo .git.

    RewriteRule (^|/)\. - [F,L]

</IfModule>
