DB_HOST=SEU_HOST_POOLER_SUPABASE
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.SEUIDDOPROJETO
DB_PASSWORD=SUA_NOVA_SENHA_DO_BANCO
DB_SSLMODE=require

SUPABASE_URL=https://SEUIDDOPROJETO.supabase.co
SUPABASE_ANON_KEY=SUA_CHAVE_PUBLICAVEL_DO_SUPABASE